<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
  <a class="navbar-brand" href="https://github.com/Limbach17/burger" id="eat-da-burger" target="blank">
    <img src="/assets/img/Burger-PNG-HD-Free-Vector-1024x1024.png" width="50" height="50" alt="lil-burger">
  </a>  
  <a class="navbar-brand" href="https://github.com/Limbach17/burger" target="blank">Burger Jawn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    
    <form class="form-inline" id="create-form">
        <div class="form-group form-item">
            <input type="text" class="form-control mr-sm-2" placeholder="create" aria-label-"create" id="ca" name="name">
        </div>

        <div class="form-group form-item">
            <input class="form-item" type="radio" name="devoured" value="1"> Devoured!<br>
            <input class="form-item" type="radio" name="devoured" value="0" checked> Ready to eat
        </div>

        <button class="btn btn-outline-success my-2 my-sm-0 form-item" type="submit">Add a burger to the menu...</button>
    </form>
        
  </div>
</nav>

<div>
    <img src="/assets/img/Burger-banner.png" class="img-fluid" alt="Burger Banner" id="burger-banner">
    
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-lg-6">
                <h3 class="p-3 mb-2 bg-transparent text-white">
                    <span class="border border-white">Burgers ready to eat</span>
                </h3>

                <div class="card overflow-auto">
                    <ul class="list-group">
                        {{#each burgers}}
                            {{#unless devoured}}
                                {{> burgers/burger-block devoured=true}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                    
                </div>
                
            </div>

            <div class="col-lg-6">
                <h3 class="p-3 mb-2 bg-white text-dark">
                    <span class="border border-white">Burgers devoured</span>
                </h3>

                <div class="card overflow-auto">
                    <ul class="list-group">
                        {{#each burgers}}
                            {{#if devoured}}
                                {{> burgers/burger-block devoured=false}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>
            
        </div>
    </div>

</div>

<footer>
    <p>Image credits:</p>
    <ul>
        <li>Thumbnail: <a href="https://peoplepng.com/burger-png-hd-free-vector/77460/free-vector" alt="People png">
            People png
            </a>
        </li>
        <li>Background: <a href="https://www.lynnesnissan.com/best-burgers-near-bloomfield-nj/burger-banner/"alt="Lynne's">
        Lynnes Nissan</a></li>
    </ul>
</footer>



