.container {
    width: 100%;
}
.form-item{
    padding: 5px;
    margin: 5px;
}

#burger-banner {
    z-index: -1;
    position: fixed;
    float: top;
    width: 100%;
    margin: 20px, 0px 20px 0px,
}

#create-form {
    padding: 8px;
}

footer {
    position: fixed;
    margin-top: 55px;
    font-size: small;
} 

.card {
    max-height: 400px;
}